{:highlights [{:id #uuid "683e913d-e395-4b54-a483-c1b353f9d5da",
               :page 2,
               :position {:bounding {:x1 118.0625,
                                     :y1 118.4921875,
                                     :x2 484.871826171875,
                                     :y2 256.9453125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 281.07257080078125,
                                   :y1 118.4921875,
                                   :x2 484.871826171875,
                                   :y2 143.9921875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 141.078125,
                                   :x2 482.1605224609375,
                                   :y2 166.578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 145.078125,
                                   :x2 482.1605224609375,
                                   :y2 163.2578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 163.671875,
                                   :x2 484.12396240234375,
                                   :y2 189.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 167.671875,
                                   :x2 484.12396240234375,
                                   :y2 185.8515625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 186.265625,
                                   :x2 481.84674072265625,
                                   :y2 211.765625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 190.265625,
                                   :x2 481.84674072265625,
                                   :y2 208.4453125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 208.8515625,
                                   :x2 481.850830078125,
                                   :y2 234.3515625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 212.8515625,
                                   :x2 481.850830078125,
                                   :y2 231.03125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 231.4453125,
                                   :x2 294.24310302734375,
                                   :y2 256.9453125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "Dense retrieval methods require maintaining and continuously updating vector representations of the entire codebase (Wang et al.,2023b; Günther et al., 2023), creating engineering challenges for large, evolving repositories where code changes frequently"},
               :properties {:color "blue"}}
              {:id #uuid "683e92a9-3eda-43ca-beb5-c37453109cb8",
               :page 2,
               :position {:bounding {:x1 118.0625,
                                     :y1 570.1640625,
                                     :x2 484.87255859375,
                                     :y2 753.796875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 190.52467346191406,
                                   :y1 570.1640625,
                                   :x2 481.85060119628906,
                                   :y2 595.6640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 592.7578125,
                                   :x2 484.8560791015625,
                                   :y2 618.2578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 596.7578125,
                                   :x2 484.8560791015625,
                                   :y2 614.9375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 615.34375,
                                   :x2 481.84649658203125,
                                   :y2 640.84375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 619.34375,
                                   :x2 481.84649658203125,
                                   :y2 637.5234375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 637.9375,
                                   :x2 481.8560791015625,
                                   :y2 663.4375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 641.9375,
                                   :x2 481.8560791015625,
                                   :y2 660.1171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 660.5234375,
                                   :x2 484.87255859375,
                                   :y2 686.0234375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 664.5234375,
                                   :x2 484.87255859375,
                                   :y2 682.703125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 683.1171875,
                                   :x2 481.8436279296875,
                                   :y2 708.6171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 687.1171875,
                                   :x2 481.8436279296875,
                                   :y2 705.296875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 705.7109375,
                                   :x2 481.8516845703125,
                                   :y2 731.2109375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 709.7109375,
                                   :x2 481.8516845703125,
                                   :y2 727.890625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 728.296875,
                                   :x2 333.78424072265625,
                                   :y2 753.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "Recent agent-based methods attempt to address these limitations through iterative exploration (Yang et al., 2024; Qin et al., 2024) but still struggle to efficiently navigate and comprehend complex code structures and dependencies, particularly when multi-hop reasoning is required to trace from issue descriptions to affected code regions that aren’t directly mentioned"},
               :properties {:color "blue"}}
              {:id #uuid "683e93cd-e9c5-42df-9721-6568c8b63bb6",
               :page 2,
               :position {:bounding {:x1 118.0625,
                                     :y1 931.4765625,
                                     :x2 484.90087890625,
                                     :y2 1024.75,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 136.3125,
                                   :y1 931.4765625,
                                   :x2 441.05303955078125,
                                   :y2 956.9765625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 464.40625,
                                   :y1 931.4765625,
                                   :x2 484.90087890625,
                                   :y2 956.9765625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 441.984375,
                                   :y1 935.28125,
                                   :x2 484.90087890625,
                                   :y2 955.78125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 441.984375,
                                   :y1 938.28125,
                                   :x2 463.5249328613281,
                                   :y2 952.828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 161.3125,
                                   :y1 954.0625,
                                   :x2 484.9007568359375,
                                   :y2 979.5625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.5546875,
                                   :y1 957.875,
                                   :x2 484.9007568359375,
                                   :y2 978.375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.5546875,
                                   :y1 960.875,
                                   :x2 160.87356567382812,
                                   :y2 975.421875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 976.65625,
                                   :x2 484.11334228515625,
                                   :y2 1002.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 980.65625,
                                   :x2 484.11334228515625,
                                   :y2 998.8359375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 999.25,
                                   :x2 329.114501953125,
                                   :y2 1024.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "To address this challenge, we propose LOCAGENT, a framework that builds directed heterogeneous graph indexing to unify code structures, dependencies, and contents."},
               :properties {:color "blue"}}
              {:id #uuid "683e9934-2437-425d-b986-4d2dbc7c509e",
               :page 4,
               :position {:bounding {:x1 118.0625,
                                     :y1 487.4609375,
                                     :x2 874.055419921875,
                                     :y2 570.234375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 179.33135986328125,
                                   :y1 487.4609375,
                                   :x2 874.055419921875,
                                   :y2 510.4609375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 281.265625,
                                   :y1 493.484375,
                                   :x2 874.055419921875,
                                   :y2 506.765625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 507.3828125,
                                   :x2 873.9708251953125,
                                   :y2 530.3828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 510.8828125,
                                   :x2 873.9708251953125,
                                   :y2 527.484375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 527.3046875,
                                   :x2 873.9779052734375,
                                   :y2 550.3046875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 530.8046875,
                                   :x2 873.9779052734375,
                                   :y2 547.40625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 118.0625,
                                   :y1 547.234375,
                                   :x2 182.64288330078125,
                                   :y2 570.234375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text " Overview of LOCAGENT framework. LOCAGENT first parses the given codebase to build a graph-based code representation with various types of entities and relations. It then constructs sparse indexes for exploring structures and searching content. Using these indexes, it performs agent-guided searches that combine the graph and tools."},
               :properties {:color "blue"}}
              {:id #uuid "683fb184-aed2-436d-a79a-139470f17927",
               :page 5,
               :position {:bounding {:x1 521.65625,
                                     :y1 122.015625,
                                     :x2 862.5931396484375,
                                     :y2 328.3515625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 521.65625,
                                   :y1 122.015625,
                                   :x2 592.6171875,
                                   :y2 142.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 638.03125,
                                   :y1 122.015625,
                                   :x2 727.6484375,
                                   :y2 142.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 122.015625,
                                   :x2 788.6097412109375,
                                   :y2 142.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 587.828125,
                                   :y1 125.015625,
                                   :x2 592.6171875,
                                   :y2 139.3828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 638.03125,
                                   :y1 125.015625,
                                   :x2 727.6484375,
                                   :y2 139.3828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 125.015625,
                                   :x2 788.6097412109375,
                                   :y2 139.3828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 150.640625,
                                   :x2 835.29541015625,
                                   :y2 170.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 153.640625,
                                   :x2 835.29541015625,
                                   :y2 168.0078125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 160.0390625,
                                   :x2 698.7734375,
                                   :y2 180.0390625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 521.65625,
                                   :y1 160.984375,
                                   :x2 616.53125,
                                   :y2 177.984375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 163.0390625,
                                   :x2 698.7734375,
                                   :y2 177.40625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 168.4609375,
                                   :x2 856.4639282226562,
                                   :y2 188.4609375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 171.4609375,
                                   :x2 856.4639282226562,
                                   :y2 185.828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 193.859375,
                                   :x2 728.1390991210938,
                                   :y2 213.859375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 196.859375,
                                   :x2 728.1390991210938,
                                   :y2 211.2265625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 211.6796875,
                                   :x2 692.4813232421875,
                                   :y2 231.6796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 211.6796875,
                                   :x2 862.5931396484375,
                                   :y2 231.6796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 214.6796875,
                                   :x2 692.4813232421875,
                                   :y2 229.046875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 214.6796875,
                                   :x2 862.5931396484375,
                                   :y2 229.046875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 229.5,
                                   :x2 721.788818359375,
                                   :y2 249.5,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 229.5,
                                   :x2 841.689697265625,
                                   :y2 249.5,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 521.65625,
                                   :y1 230.578125,
                                   :x2 615.0610961914062,
                                   :y2 247.578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 232.5,
                                   :x2 721.788818359375,
                                   :y2 246.8671875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 232.5,
                                   :x2 841.689697265625,
                                   :y2 246.8671875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 247.4609375,
                                   :x2 708.313720703125,
                                   :y2 267.4609375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 247.4609375,
                                   :x2 822.523193359375,
                                   :y2 267.4609375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 250.4609375,
                                   :x2 708.313720703125,
                                   :y2 264.828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 250.4609375,
                                   :x2 822.523193359375,
                                   :y2 264.828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 265.28125,
                                   :x2 722.68359375,
                                   :y2 285.28125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 637.9296875,
                                   :y1 268.28125,
                                   :x2 722.68359375,
                                   :y2 282.6484375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 290.53125,
                                   :x2 833.6980590820312,
                                   :y2 310.53125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 293.53125,
                                   :x2 833.6980590820312,
                                   :y2 307.8984375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 521.65625,
                                   :y1 300.875,
                                   :x2 701.453125,
                                   :y2 320.875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 743.890625,
                                   :y1 308.3515625,
                                   :x2 860.4414672851562,
                                   :y2 328.3515625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 5},
               :content {:text "Tool Name Input Params Output SearchEntity Keywords Related Entities with Code Snippets TraverseGraph Start Entity IDs Traversed Subgraph, including Entites and Relations Direction Traverse Hops Entity Types Relation Types RetrieveEntity Entity IDs Complete Code of Specified Entities"},
               :properties {:color "blue"}}],
 :extra {:page 10}}
