{:highlights [{:id #uuid "65950409-535e-4ded-ad16-a07d2a46d47c",
               :page 2,
               :position {:bounding {:x1 58.75,
                                     :y1 966.1484375,
                                     :x2 193.8974609375,
                                     :y2 1008.1484375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 966.1484375,
                                   :x2 193.8974609375,
                                   :y2 1008.1484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Directories"},
               :properties {:color "yellow"}}
              {:id #uuid "659507a6-f8a9-427b-a4d4-4e90218e8060",
               :page 3,
               :position {:bounding {:x1 58.75,
                                     :y1 273.6484375,
                                     :x2 463.58294677734375,
                                     :y2 315.6484375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 273.6484375,
                                   :x2 463.58294677734375,
                                   :y2 315.6484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "whiteouts and opaque directories"},
               :properties {:color "yellow"}}
              {:id #uuid "6595092a-f7ad-4b31-a143-4b2794b7e055",
               :page 3,
               :position {:bounding {:x1 58.75,
                                     :y1 636.1484375,
                                     :x2 147.4757080078125,
                                     :y2 678.1484375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 636.1484375,
                                   :x2 147.4757080078125,
                                   :y2 678.1484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "readdir"},
               :properties {:color "yellow"}}
              {:id #uuid "65950aa8-f173-4864-a841-e29136051699",
               :page 2,
               :position {:bounding {:x1 58.75,
                                     :y1 471.1484375,
                                     :x2 273.1997375488281,
                                     :y2 513.1484375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 471.1484375,
                                   :x2 273.1997375488281,
                                   :y2 513.1484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Upper and Lower"},
               :properties {:color "yellow"}}
              {:id #uuid "65950fe4-5bdd-4b6e-b0f6-cea9c549b160",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 1283.6484375,
                                     :x2 991.59375,
                                     :y2 2816.390625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 1283.6484375,
                                   :x2 310.25274658203125,
                                   :y2 1325.6484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 1413.1953125,
                                   :x2 991.59375,
                                   :y2 2816.390625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "renaming directories"},
               :properties {:color "yellow"}}
              {:id #uuid "65951358-f7d0-4349-8153-e510d5739702",
               :page 5,
               :position {:bounding {:x1 58.75,
                                     :y1 142.3984375,
                                     :x2 249.97706604003906,
                                     :y2 184.3984375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 142.3984375,
                                   :x2 249.97706604003906,
                                   :y2 184.3984375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Non-directories"},
               :properties {:color "yellow"}}
              {:id #uuid "6597db3f-d50c-4152-b27d-51ab291d3032",
               :page 8,
               :position {:bounding {:x1 58.75,
                                     :y1 877.3984375,
                                     :x2 386.9764404296875,
                                     :y2 919.3984375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 58.75,
                                   :y1 877.3984375,
                                   :x2 386.9764404296875,
                                   :y2 919.3984375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Sharing and copying layers"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
