{:highlights [{:id #uuid "6806eb41-70c8-4326-bb7f-e2be01cce8ea",
               :page 1,
               :position {:bounding {:x1 228.515625,
                                     :y1 469.328125,
                                     :x2 743.373779296875,
                                     :y2 578.875,
                                     :width 972,
                                     :height 1257.8823529411764},
                          :rects ({:x1 638.8317260742188,
                                   :y1 469.328125,
                                   :x2 743.3676147460938,
                                   :y2 491.828125,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 486.6875,
                                   :x2 743.3700561523438,
                                   :y2 509.1875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 490.1875,
                                   :x2 743.3700561523438,
                                   :y2 506.0078125,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 504.171875,
                                   :x2 743.3713989257812,
                                   :y2 526.671875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 507.671875,
                                   :x2 743.3713989257812,
                                   :y2 523.4921875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 521.53125,
                                   :x2 743.3632202148438,
                                   :y2 544.03125,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 525.03125,
                                   :x2 743.3632202148438,
                                   :y2 540.8515625,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 538.890625,
                                   :x2 743.373779296875,
                                   :y2 561.390625,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 542.390625,
                                   :x2 743.373779296875,
                                   :y2 558.2109375,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 228.515625,
                                   :y1 556.375,
                                   :x2 649.8519287109375,
                                   :y2 578.875,
                                   :width 972,
                                   :height 1257.8823529411764}),
                          :page 1},
               :content {:text "In this paper, we explore the use of LLMs to generate both reasoning traces and task-speciﬁc actions in an interleaved manner, allowing for greater synergy between the two: reasoning traces help the model induce, track, and update action plans as well as handle exceptions, while actions allow it to interface with and gather additional information from external sources such as knowledge bases or environments"},
               :properties {:color "blue"}}
              {:id #uuid "6806eda2-255a-4523-96f3-4fd391ccc23c",
               :page 3,
               :position {:bounding {:x1 230.4296875,
                                     :y1 292.0234375,
                                     :x2 1075.1834716796875,
                                     :y2 368.3203125,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 609.1341552734375,
                                   :y1 292.0234375,
                                   :x2 1013.1640625,
                                   :y2 321.5234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 1006.0859375,
                                   :y1 296.5234375,
                                   :x2 1075.1834716796875,
                                   :y2 321.0234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 230.4296875,
                                   :y1 315.5078125,
                                   :x2 268.71875,
                                   :y2 345.0078125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 313.3359375,
                                   :y1 315.5078125,
                                   :x2 1074.988525390625,
                                   :y2 345.0078125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 230.4296875,
                                   :y1 320.0078125,
                                   :x2 1074.988525390625,
                                   :y2 341.2578125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 230.4296875,
                                   :y1 338.8203125,
                                   :x2 384.6376953125,
                                   :y2 368.3203125,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "The best approach overall is a combination of ReAct and CoT that allows for the use of both internal knowledge and externally obtained information during reasoning."},
               :properties {:color "blue"}}
              {:id #uuid "6806eeb2-e457-40e1-82be-8e4359f7c6c1",
               :page 3,
               :position {:bounding {:x1 230.4296875,
                                     :y1 385.625,
                                     :x2 1075.029541015625,
                                     :y2 461.921875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 888.6810913085938,
                                   :y1 385.625,
                                   :x2 1075.014404296875,
                                   :y2 415.125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 230.4296875,
                                   :y1 408.9375,
                                   :x2 1075.029541015625,
                                   :y2 438.4375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 230.4296875,
                                   :y1 413.4375,
                                   :x2 1075.029541015625,
                                   :y2 434.6875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 230.4296875,
                                   :y1 432.421875,
                                   :x2 612.8271484375,
                                   :y2 461.921875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text " We also demonstrate the importance of sparse, versatile reasoning in decision making by showing consistent advantages over controlled baselines with actions only. "},
               :properties {:color "blue"}}
              {:id #uuid "6806f180-0aca-4621-8146-7c30e48d6452",
               :page 3,
               :position {:bounding {:x1 231.0859375,
                                     :y1 829.828125,
                                     :x2 767.8130493164062,
                                     :y2 865.328125,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 231.0859375,
                                   :y1 829.828125,
                                   :x2 252.25,
                                   :y2 865.328125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 347.0234375,
                                   :y1 829.828125,
                                   :x2 377.49505615234375,
                                   :y2 865.328125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 661.1484375,
                                   :y1 829.828125,
                                   :x2 684.0078125,
                                   :y2 865.328125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 269.859375,
                                   :y1 831.8125,
                                   :x2 285.21875,
                                   :y2 861.3125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 300.546875,
                                   :y1 831.8125,
                                   :x2 315.90625,
                                   :y2 861.3125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 682.5625,
                                   :y1 831.8125,
                                   :x2 697.921875,
                                   :y2 861.3125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 243.75,
                                   :y1 834.828125,
                                   :x2 252.25,
                                   :y2 860.34375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 286.703125,
                                   :y1 835.8671875,
                                   :x2 298.984375,
                                   :y2 859.8671875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 317.3828125,
                                   :y1 835.8671875,
                                   :x2 684.0078125,
                                   :y2 859.8671875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 699.40625,
                                   :y1 835.8671875,
                                   :x2 767.8130493164062,
                                   :y2 859.8671875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "2 REAC T : SYNERGIZING RE ASONING + AC T ING"},
               :properties {:color "blue"}}],
 :extra {:page 6}}
