{:highlights [{:id #uuid "66cb4158-67c9-4043-a30e-6dfc3d6bb871",
               :page 3,
               :position {:bounding {:x1 92,
                                     :y1 143,
                                     :x2 756,
                                     :y2 276,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1724596564554},
               :properties {:color "purple"}}
              {:id #uuid "66cb45b3-eebc-4e06-9aa4-e5b7385ab0e9",
               :page 3,
               :position {:bounding {:x1 93,
                                     :y1 718,
                                     :x2 602,
                                     :y2 783,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1724597681042},
               :properties {:color "purple"}}],
 :extra {:page 1}}
